*.iml
.gradle/
local.properties
/.idea/
.DS_Store
**/build/
/captures
.externalNativeBuild
.cxx
/.name
**/release/
/.kotlin/
*.apk
*.aar
*.aab
*.ap_
*.dex
*.class
*.exe
*.dll
*.so
*.log
.externalNativeBuild/
.cxx/
*.hprof
